<div class="tabbable">
    <ul class="nav nav-tabs">
        <li id="tab1"><a href="#/manage/consumption" data-toggle="tab">Forbrug</a></li>
        <li id="tab2"><a href="#/manage/change-password" data-toggle="tab">Skift kodeord</a></li>
        <li id="tab3"><a href="#/manage/energy-10" data-toggle="tab">Energy 10</a></li>
        <li id="tab4"><a href="#/manage/settings" data-toggle="tab">Indstillinger</a></li>
        <li id="tab5"><a href="#/manage/new-user" data-toggle="tab">Opret ny Bruger</a></li>
        <li id="tab6"><a href="#/manage/users" data-toggle="tab">Brugere</a></li>
        <li id="tab7"><a href="#/manage/new-company" data-toggle="tab">Opret ny virksomhed</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab6-content">
            <form>
                <input type="text" name="mypage_newcompany_name" placeholder="Firmanavn...">
                <input type="text" name="mypage_newcompany_cvr" placeholder="CVR nr...">
                <input type="text" name="mypage_newcompany_address" placeholder="Adresse...">
                <input type="text" name="mypage_newcompany_zip" placeholder="Postnr...">
                <input type="text" name="mypage_newcompany_city" placeholder="By...">
                <input type="text" name="mypage_newcompany_email" placeholder="Email, hvortil faktura fremsendes (revisor/bogholder)...">
                <input type="text" name="mypage_newcompany_phone" placeholder="Telefon...">

                <input type="submit" class="btn btn-success btn-medium" id="frontpage_logonbtn"
                       value="Opret ny virksomhed »">
            </form>
        </div>
    </div>
</div>